<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>269818928038-4i6fpjdjbkticetce15ocitoggmjn834.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.269818928038-4i6fpjdjbkticetce15ocitoggmjn834</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>269818928038-7isnpivvhs5t23287ukt7lqg6jib8sk8.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAbZO9ZWkhEo5EDrkEvaa0BhY0ZllmVD6k</string>
	<key>GCM_SENDER_ID</key>
	<string>269818928038</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fitnessManagement</string>
	<key>PROJECT_ID</key>
	<string>fitness-manager-f578e</string>
	<key>STORAGE_BUCKET</key>
	<string>fitness-manager-f578e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:269818928038:ios:8d1604690a3fd71fc98d67</string>
</dict>
</plist>